<h1>Listing bookracks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookracks.each do |bookrack| %>
      <tr>
        <td><%= bookrack.name %></td>
        <td><%= link_to 'Show', bookrack %></td>
        <td><%= link_to 'Edit', edit_bookrack_path(bookrack) %></td>
        <td><%= link_to 'Destroy', bookrack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookrack', new_bookrack_path %>
