<p id="notice"><%= notice %></p>

<dl>
  <dt>書籍名</dt>
</dl>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>
<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>
<p>
  <strong>Category:</strong>
  <%= @book.category %>
</p>
<p>
  <strong>Memo:</strong>
  <%= @book.memo %>
</p>

<%= link_to 'New Book', new_book_path %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
